[submodule "gobyexample"]
	path = gobyexample
	url = https://github.com/mmcgrana/gobyexample.git
[submodule "learngo"]
	path = learngo
	url = https://github.com/inancgumus/learngo.git
[submodule "gin-examples"]
	path = gin-examples
	url = https://github.com/gin-gonic/examples.git
[submodule "kitex-examples"]
	path = kitex-examples
	url = https://github.com/cloudwego/kitex-examples.git
[submodule "hertz-examples"]
	path = hertz-examples
	url = https://github.com/cloudwego/hertz-examples.git
[submodule "golang-example"]
	path = golang-example
	url = https://github.com/golang/example
